body {
    background: linear-gradient(135deg, rgb(40,119,167), rgb(178,235,242), rgb(91,230,188), rgb(24,50,72));
    color: white;
}

.logo {
    height: 420px;
    width: 450px;
    margin-top: 5%;
}

.container {
    display: flex;
    justify-content: center;
}


h1 {
    text-align: center;
    font-size: 100px;
    margin-bottom: 55px;
    font-weight: 200;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 200;
}

.info > p {
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
    font-weight: 200;
}

@media (max-width: 800px) {
    .gradient {
        text-align: center;
        justify-content: center;
    }
}


